<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucian Portfolio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- navbar -->
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/experience">Experience</a>
        <a href="/favourites">Favourites</a>

        <button onclick="toggleTheme()">Theme</button>
    </nav>

    <!-- page content -->
    <main class="page">
        {% block content %}{% endblock %}
    </main>

    <!-- footer -->
    <footer class="center_text">
        <p>Email: your@email.com</p>
        <p>GitHub: github.com/yourname</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>