{% extends "base.html" %}

{% block content %}

<h1 class="center_text">Experience Timeline</h1>

<div class="timeline">
    {% for item in timeline %}
    <div class="timeline-item {{ 'left' if loop.index % 2 == 0 else 'right' }}">
        <div class="card timeline-card">
            
            <h3>{{ item.title }}</h3>
            <p><strong>{{ item.year }}</strong> • {{ item.category }}</p>
            <p>{{ item.description }}</p>

            {% if item.image %}
            <img src="{{ url_for('static', filename='images/' + item.image) }}" class="timeline-image">
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

<br> <!-- extra line at bottom of main before footer -->

{% endblock %}