{% extends "base.html" %}

{% block content %}

<h1 class="center_text">Experience Timeline</h1>

<div class="timeline">
    {% for item in timeline %}
    <div class="timeline-item {{ 'left' if loop.index % 2 == 0 else 'right' }}">

        {% if item.link %}
        <a href="{{ item.link }}" target="_blank" class="timeline-link">
        {% endif %}
            <div class="card timeline-card {{ 'clickable' if item.link else '' }}">
                
                <h3>{{ item.title }}</h3>
                <p><strong>{{ item.year }}</strong> • {{ item.category }}</p>
                <p>{{ item.description }}</p>

                {% if item.image %}
                <img src="{{ url_for('static', filename='images/' + item.image) }}" class="timeline-image">
                {% endif %}

            </div>
        {% if item.link %}
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<br> <!-- extra line at bottom of main before footer -->

{% endblock %}