{% extends "base.html" %}

{% block content %}
{% macro sketch(box) %}style="--sketch-stroke: url('/static/svgs/{{ box }}.svg'); --sketch-fill: url('/static/svgs/{{ box }}-fill.svg')"{% endmacro %}

<h1 class="center_text sketch-box" {{ sketch('Identitybox') }}>Identity</h1>

{% for id, title, box in [("hobbies", "Hobbies", "Hobbiesbox"), ("food", "Go-To Order", "Gotoorderbox"), ("artists", "Fav Artists", "Favartistsbox"), ("music", "Current Vibes", "Currentvibesbox")] %}
<section class="fav-section">
    <h2 class="fav-section-title sketch-box" {{ sketch(box) }}>{{ title }}</h2>
    <div class="fav-carousel" id="carousel-{{ id }}">
        <button class="carousel-btn" onclick="carouselMove('{{ id }}',-1)">&#8249;</button>
        <div class="carousel-track"></div>
        <button class="carousel-btn" onclick="carouselMove('{{ id }}',1)">&#8250;</button>
    </div>
</section>
{% endfor %}

{% endblock %}

{% block scripts %}
<script>
const FAVES = {
    hobbies: {{ hobbies            | tojson }},
    food:    {{ favourites.food    | tojson }},
    artists: {{ favourites.artists | tojson }},
    music:   {{ favourites.music   | tojson }}
};
Object.entries(FAVES).forEach(function(entry) { initCarousel(entry[0], entry[1]); });
</script>
{% endblock %}
