{% extends "base.html" %}

{% block body_class %}home-page{% endblock %}

{% block content %}

<div class="hero">
    <h1>Lucian Bai</h1>
    <p class="hero-sub">Grade 11 · Pierre Elliott Trudeau High School · Ontario</p>
    <p class="hero-desc">
        I'm a student passionate about engineering, programming, and building cool things.
        Currently building full stack <a href="https://github.com/KingBobSkibidi/FBLC-business-project" target="_blank">web apps</a> and a <a href="/experience#water-turret">water turret</a>, along with interning <a href="https://www.nokia.com/careers/our-locations/canada/students-and-graduates/future-tech-summer-internship/" target="_blank">@Nokia</a> this summer.
    </p>
</div>

<div class="home-cards-grid">

    <div class="home-card">
        <img src="{{ url_for('static', filename='images/nokia.webp') }}" class="home-card-img">
        <h2>Experience</h2>
        <p>Timeline of my life</p>
        <a href="/experience">
            <button class="bubbly_button">View Experience</button>
        </a>
    </div>

    <div class="home-card">
        <img src="{{ url_for('static', filename='images/nokia.webp') }}" class="home-card-img">
        <h2>Favourites</h2>
        <p>Some things about me</p>
        <a href="/favourites">
            <button class="bubbly_button">View Favourites</button>
        </a>
    </div>

</div>

{% endblock %}